body{
    background-color: #000;
}


.container {
    text-align: center;
  }
  
  .game-container {
    display: inline-block;
    margin-right: 50px;
  }
  
  .table-container {
    display: flex;
    position: relative;
    top: -700px;
    right: -650px;
    text-align: center;
  }
  
  .square {
    width: 280px;
    height: 280px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  #start-btn {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    position: relative;
    right: 600px;
    top: -600px;
  }

  #game-board{
    border-radius: 20px;
    padding: 25px;
    width: 650px;
    height: 650px;
    box-shadow: #fff 1px 1px 20px;
  }
/* 
  #clear-ranking-btn {
    display: flex;
    position: relative;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    position: relative;
    left: 970px;
    top: -620px;
  } */
  
  #message {
    margin-top: 20px;
  }

  #level {
    position: relative;
    right: 600px;
    top: -500px;
    font-size: 100px;
    color: #fff;
  }
  
  
  #ranking {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 200px;
    margin: auto;
  }
  
  #ranking th, #ranking td {
    border: 1px solid black;
    padding: 8px;
  }

  #ranking-body{
    color: #fff;
    
  }
  
  #ranking th {
    background-color: #f2f2f2;
  }
  
  .square:nth-child(1) {
    background-color: blue;
  }
  
  .square:nth-child(2) {
    background-color: green;
  }
  
  .square:nth-child(3) {
    background-color: red;
  }
  
  .square:nth-child(4) {
    background-color: yellow;
  }
  